{% extends 'strona/base.html' %}

{% block content %}
    <div class="strona">
        {% if kawa.data %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'kawa_edit' pk=kawa.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'kawa_remove' pk=kawa.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
        <h2>{{ kawa.firma }}: {{ kawa.nazwa }}</h2>
        <p><b>Arabica [%]:</b> {{ kawa.arabica }}</p>
        <p><b>Robusta [%]:</b> {{ kawa.robusta }}</p>
        <p><b>Stopień Palenia:</b> {{ kawa.stopień_palenia }}</p>
        <p><b>Kwasowość:</b> {{ kawa.kwasowość }}</p>
        <p><b>Moc:</b> {{ kawa.moc }}</p>
        <p><b>Ocena:</b> {{ kawa.ocena }}</p>
        <p><b>Uwagi:</b> {{ kawa.uwagi }}</p>
        <br/>
    </div>   
{% endblock %}