{% extends 'strona/base.html' %}

{% block content %}
    <h1>Lista Kaw<br/><small><a href="{% url 'kawa_new' %}" class="button2">Dodaj nową recencję</small></a></h1>
    <table id = "table" class = "table table-bordered display" style = "border-color: rgb(201, 201, 201); border-width: 2px;">
        <thead>
            <tr style="background-color: #e6571f; font-family: Helvetica; color: antiquewhite;">
                <th>Palarnia</th>
                <th>Nazwa</th>
                <th>Arabica [%]</th>
                <th>Robusta [%]</th>
                <th>Stopień palenia</th>
                <th>Kwasowość</th>
                <th>Moc</th>
                <th>Ocena</th>
                <th>Autor recenzji</th>
            </tr>
        </thead>
        <tbody>
            {% for kawa in kawas %}
                {% if kawa.zatwierdzony %}
                    <tr style="font-family: Helvetica; text-align: center;">
                        <td>{{ kawa.firma }}</td>
                        <td><a href="{% url 'kawa_detail' pk=kawa.pk %}">{{ kawa.nazwa }}</a></td>
                        <td>{{ kawa.arabica }}</td>
                        <td>{{ kawa.robusta }}</td>
                        <td>{{ kawa.stopień_palenia }}</td>
                        <td>{{ kawa.kwasowość }}</td>
                        <td>{{ kawa.moc }}</td>
                        <td>{{ kawa.ocena }}</td>
                        <td>{{ kawa.autor }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
