{% extends 'strona/base.html' %}

{% block content %}
    <div class="strona">
        {% if piwo.data %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'piwo_edit' pk=piwo.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'piwo_remove' pk=piwo.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
        <h2>{{ piwo.firma }} {{ piwo.nazwa }}</h2>
        <p>Typ: {{ piwo.typ }}</p>
        <p>Aromat: {{ piwo.aromat }}</p>
        <p>Smak: {{ piwo.smak }}</p>
        <p>Moc: {{ piwo.moc }}</p>
        <p>Goryczka: {{ piwo.goryczka }}</p>
        <p>Nuty owocowe: {{ piwo.nuty_owocowe }}</p>
        <p>Piana: {{ piwo.piana }}</p>
        <p>Kolor: {{piwo.kolor }}</p>
        <p>Mętność: {{piwo.mętność }}</p>
        <p>Zgazowanie: {{ piwo.zgazowanie }}</p>
        <p>Ocena: {{ piwo.ocena }}</p>
        <p>Uwagi: {{ piwo.uwagi }}</p>
        <br/>
    </div>   
{% endblock %}