{% extends 'strona/base.html' %}

{% block content %}
    <div class="strona">
        {% if piwo.data %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'piwo_edit' pk=piwo.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'piwo_remove' pk=piwo.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
        <h2>{{ piwo.firma }}: {{ piwo.nazwa }}</h2>
        <p><b>Autor recenzji:</b> {{ piwo.autor }}</p>
        <p><b>Typ:</b> {{ piwo.typ }}</p>
        <p><b>Aromat:</b> {{ piwo.aromat }}</p>
        <p><b>Smak:</b> {{ piwo.smak }}</p>
        <p><b>Moc:</b> {{ piwo.moc }}</p>
        <p><b>Goryczka:</b> {{ piwo.goryczka }}</p>
        <p><b>Nuty owocowe:</b> {{ piwo.nuty_owocowe }}</p>
        <p><b>Piana:</b> {{ piwo.piana }}</p>
        <p><b>Kolor:</b> {{piwo.kolor }}</p>
        <p><b>Mętność:</b> {{piwo.mętność }}</p>
        <p><b>Zgazowanie:</b> {{ piwo.zgazowanie }}</p>
        <p><b>Ocena:</b> {{ piwo.ocena }}</p>
        <p><b>Uwagi:</b> {{ piwo.uwagi }}</p>
        <p><a href="{% url 'piwo_list' %}" class="button2">Powrót do listy piw</a></p>
        <br/>
    </div>   
{% endblock %}