{% extends 'strona/base.html' %}

{% block content %}
    <h1>Lista Piw<br/><small><a href="{% url 'piwo_new' %}"><small><span class="glyphicon glyphicon-plus"></span></small> Dodaj nową recencję</small></a></h1>
    <br/>
    <table id = "table" class = "table table-bordered display" style = "border-color: rgb(201, 201, 201); border-width: 2px;">
        <thead>
            <tr style="background-color: #e6571f; font-family: Helvetica; color: antiquewhite;">
                <th>Browar</th>
                <th>Nazwa</th>
                <th>Typ</th>
                <th>Aromat</th>
                <th>Moc</th>
                <th>Goryczka</th>
                <th>Nuty owocowe</th>
                <th>Piana</th>
                <th>Kolor</th>
                <th>Mętność</th>
                <th>Zgazowanie</th>
                <th>Ocena</th>
                <th>Autor recenzji</th>
            </tr>
        </thead>
        <tbody>
            {% for piwo in piwos %}
                {% if piwo.zatwierdzony %}
                    <tr style="font-family: Helvetica; text-align: center;">
                        <td>{{ piwo.firma }}</td>
                        <td><a href="{% url 'piwo_detail' pk=piwo.pk %}">{{ piwo.nazwa }}</a></td>
                        <td>{{ piwo.typ }}</td>
                        <td>{{ piwo.aromat }}</td>
                        <td>{{ piwo.moc }}</td>
                        <td>{{ piwo.goryczka }}</td>
                        <td>{{ piwo.nuty_owocowe }}</td>
                        <td>{{ piwo.piana }}</td>
                        <td>{{ piwo.kolor }}</td>
                        <td>{{ piwo.mętność }}</td>
                        <td>{{ piwo.zgazowanie }}</td>
                        <td>{{ piwo.ocena }}</td>
                        <td>{{ piwo.autor }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
