{% extends 'strona/base.html' %}

{% block content %}
    <h1>Lista Win<br/><small><a href="{% url 'wino_new' %}"><small><span class="glyphicon glyphicon-plus"></span></small> Dodaj nową recencję</small></a></h1>
    <br/>
    <table id = "table" class = "table table-bordered display" style = "border-color: rgb(201, 201, 201); border-width: 2px;">
        <thead>
            <tr style="background-color: #e6571f; font-family: Helvetica; color: antiquewhite;">
                <th>Winnica</th>
                <th>Nazwa</th>
                <th>Typ</th>
                <th>Kolor</th>
                <th>Klarowność</th>
                <th>Musowanie</th>
                <th>Aromat</th>
                <th>Moc</th>
                <th>Ocena</th>
                <th>Autor recenzji</th>
            </tr>
        </thead>
        <tbody>
            {% for wino in winos %}
                {% if wino.zatwierdzony %}
                    <tr style="font-family: Helvetica; text-align: center;">
                        <td>{{ wino.firma }}</td>
                        <td><a href="{% url 'wino_detail' pk=wino.pk %}">{{ wino.nazwa }}</a></td>
                        <td>{{ wino.typ }}</td>
                        <td>{{ wino.kolor }}</td>
                        <td>{{ wino.klarowność }}</td>
                        <td>{{ wino.musowanie }}</td>
                        <td>{{ wino.aromat }}</td>
                        <td>{{ wino.moc }}</td>
                        <td>{{ wino.ocena }}</td>
                        <td>{{ wino.autor }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

{% endblock %}