{% extends 'strona/base.html' %}

{% block content %}

<h2>Nuty zielonych owoców</h2>
<p align="justify">
    Są to najczęsciej aromaty zielonego jabłka, gruszki i agrestu. Winogrona z których powstaje takie 
    wino zwykle są uprawiane w chłodniejszych regionach (np. Chardonnay z Chablis we Francji). 
    Chardonnay z cieplejszych regionów winiarskich, takich jak Kalifornia, może zawierać 
    więcej owoców tropikalnych.
</p>
<h2>Nuty czerwonych owoców</h2>
<p align="justify">
    Jeśli w wine stwierdza się posmak i aromat czerwonych owoców, to oznacza to, że 
    poza winogronami wyczuwalne są również aromaty truskawek, wiśni, malin i granatów.
</p>
<h2>Nuty czarnych owoców</h2>
<p align="justify">
    Są to takie owoce jak: jeżyna, czarna wiśnia, czarna porzeczka.
    Wina bogatsze, takie jak Cabernet Sauvignon, Syrah i Malbec, mają wszystkie aromaty i smaki czarnych owoców, 
    podczas gdy wina o lżejszym stylu (np. Pinot Noir) skłaniają się ku cechom czerwonych owoców.
</p>
<h2>Nuty cytrusowe</h2>
<p align="justify">
    Głównie są to cytryny, limonki, grejpfruty i pomarańcze. 
    Często jest to wskazówka, że ​​wino pochodzi z chłodniejszego klimatu. 
    Winogrona nie dojrzewają tam tak pełnie, jak w cieplejszym klimacie, dlatego mają tendencję do ukazywania czystszych,
    bardziej orzeźwiających nut cytrusowych.
</p>
<h2>Nuty owoców tropikalnych</h2>
<p align="justify">
    Białe winogrona uprawiane w cieplejszych regionach (takich jak najcieplejsze obszary Kalifornii, Chile, Argentyny, Włoch i Australii)
    wytwarzają nuty owoców tropikalnych - takie jak ananas, papaja i marakuja.
</p>
<h2>Nuty pestkowców</h2>
<p align="justify">
    Do pestkowców zalicza się takie owoce jak morele, brzoskwienie i śliwki.
    Te nuty czesto są wyczuwalne w bogatszych winach białych i różowych.
</p>
<h2>Nuty roślinne</h2>
<p align="justify">
    Nuty roślinne odnoszą się do papryki, szparagów, świeżo skoszonej trawy lub ziół,
    takich jak rozmaryn, szałwia i tymianek. 
    Dwa klasyczne przykłady takich win to Cabernet Franc z Doliny Loary o aromatach zielonego pieprzu 
    oraz nowozelandzkie Sauvignon Blanc z aromatycznym jalapeño i trawiastym charakterem.
</p>
<h2>Nuty kwiatowe</h2>
<p align="justify">
    Aromaty kwiatowe (oraz perfum) można znaleźć zarówno w czerwonych, jak i białych winach.
    Viognier to klasyczny przykład wina o białych kwiatowych aromatach – dokładnie wiciokrzewu. 
    Pinot Noir i dobrze wykonane mieszanki Bordeaux często mają zapach nawiązujący do suszonych kwiatów, 
    takich jak róże i fiołki. 
    Gewürztraminer jest często uważany za prawdziwie „perfumowane” wino ze względu 
    na swoje egzotyczne zapachy.
</p>
<h2>Nuty drożdżowe</h2>
<p align="justify">
    Są to nuty przypominające drożdże, ser, oraz banany.
</p>
<h2>Nuty dojrzewajace</h2>
<p align="justify">
    Nuty przywołujące na myśl migdały, oraz mocno przypieczony chleb, lub tosty. 
</p>
<h2>Nuty przypraw i dębowe</h2>
<p align="justify">
    Kiedy szef kuchni chce przyprawić potrawę, idzie do swojego stojaka na przyprawy. 
    Kiedy winiarz chce przyprawić swoje wino, sięga po dębowe beczki. Wina dojrzewające w świeżych dębowych beczkach 
    z pewnością będą pachnieć i smakować jak dąb. Ponadto beczki po winie są często prażone od środka ogniem, 
    więc wraz z dębem można doświadczyć drugorzędnych smaków takich jak tytoń, dym lub przyprawy.
    Nuty przypraw mogą być pikantne, jak czarny pieprz i goździki, lub słodkie 
    jak aromat cynamonu, wanilii, czekolady czy gałki muszkatołowej.
</p>
<h2>Nuty maślane</h2>
<p align="justify">
    Kiedy wino jest określane jako „maślane”, wiadomo, że było leżakowane w dębie. 
    Przykładem może być amerykański Chardonnay – wraz z opisanymi wcześniej dębowymi nutami 
    i smakami cytrusów, tropikalnych lub owoców pestkowych, 
    jest też kremowa nuta, przypominająca popcorn z masłem. 
    Aromaty maślane mogą pojawić się po przejściu wina przez proces zwany fermentacją malolaktyczną. 
    Zamienia ona kwas jabłkowy, który jest ostry jak jabłko, w kwas mlekowy, 
    który jest gładki jak mleko.
</p>
<h2>Nuty ziemne</h2>
<p align="justify">
    Są to nuty ziemi, ściółki leśnej, grzybów, trufli, czy skóry. Często wynikają z procesu produkcyjnego,
    lub samego regionu (klimatu, bądź gleby na której hodowane były winogrona). Mogą być czasem wskaźnikiem wieku danego wina.
</p>
<h2>Nuty minerałów</h2>
<p align="justify">
    Są to nuty solne, kamieni, kredy, czy żwiru. Niektóre z najbardziej wiekowych win z klasycznych regionów, 
    takich jak Bordeaux, Burgundia, Rioja, Alzacja, Toskania i prawie każde wino z Niemiec, 
    ma pewną formę mineralności. W niemieckim Rieslingu często porównuje się go do łupka, 
    podczas gdy Sauvignon Blanc z Doliny Loary przypomina nam krzemień, 
    a burgundowe Pinot Noir jest jak spacer po lesie po burzy. 
</p>
<br/>
<p><a href="{% url 'wino_list' %}">Powrót do listy win</a></p>
<br/>
{% endblock %}