{% extends 'strona/base.html' %}

{% block content %}
    <div class="strona">
        {% if wino.data %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'wino_edit' pk=wino.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'wino_remove' pk=wino.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
        <h2>{{ wino.firma }}: {{ wino.nazwa }}</h2>
        <p>Typ: {{ wino.typ }}</p>
        <p>Kolor (jak bardzo ciemne): {{ wino.kolor }}</p>
        <p>Klarowność: {{ wino.klarowność }}</p>
        <p>Musowanie: {{ wino.musowanie }}</p>
        <p>Aromat (intensywność): {{ wino.aromat }}</p>
        <p>Moc: {{ wino.moc }}</p>
        <p>Wyczuwalne nuty:</p>
        {% if wino.nuty_zielonych_owoców == "tak" %}
            <p>- nuty zielonych owoców</p>
        {% endif %}
        {% if wino.nuty_czerwonych_owoców == "tak" %}
            <p>- nuty czerwonych owoców</p>
        {% endif %}
        {% if wino.nuty_czarnych_owoców == "tak" %}
            <p>- nuty czarnych owoców</p>
        {% endif %}
        {% if wino.nuty_cytrusowe == "tak" %}
            <p>- nuty cytrusowe</p>
        {% endif %}
        {% if wino.nuty_tropikalne == "tak" %}
            <p>- nuty owoców tropikalnych</p>
        {% endif %}
        {% if wino.nuty_pestkowców == "tak" %}
            <p>- nuty pestkowców</p>
        {% endif %}
        {% if wino.nuty_suszonych_owoców == "tak" %}
            <p>- nuty suszonych owoców</p>
        {% endif %}
        {% if wino.nuty_roślinne == "tak" %}
            <p>- nuty roślinne</p>
        {% endif %}
        {% if wino.nuty_kwiatowe == "tak" %}
            <p>- nuty kwiatowe</p>
        {% endif %}
        {% if wino.nuty_drożdżowe == "tak" %}
            <p>- nuty drożdżowe</p>
        {% endif %}
        {% if wino.nuty_dojrzewające == "tak" %}
            <p>- nuty dojrzewajace</p>
        {% endif %}
        {% if wino.nuty_maślane == "tak" %}
            <p>- nuty maślane</p>
        {% endif %}
        {% if wino.nuty_dębowe == "tak" %}
            <p>- nuty dębowe/ przypraw</p>
        {% endif %}
        {% if wino.nuty_ziemne == "tak" %}
            <p>- nuty ziemne</p>
        {% endif %}
        {% if wino.nuty_minerałów == "tak" %}
            <p>- nuty mineralne</p>
        {% endif %}
        <p>Ocena: {{ wino.ocena }}</p>
        <p>Uwagi: {{ wino.uwagi }}</p>
        <br/>
        <p>Nie wiesz co oznaczają niektóre nuty? <a href="{% url 'wino_opis_nut' %}">Dowiedz się tutaj!</a></p>
    </div>   
{% endblock %}