{% extends 'strona/base.html' %}

{% block content %}
            <a href="{% url 'wino_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <h1>Lista Win</h1>
    {% for wino in winos %}
        <div class="strona">
            <h3><a href="{% url 'wino_detail' pk=wino.pk %}">{{ wino.firma }}: {{ wino.nazwa }}</a></h3>
            <p>Typ: {{ wino.typ }}</p>
            <p>Kolor: {{ wino.kolor }}</p>
            <p>Klarowność: {{ wino.klarowność }}</p>
            <p>Musowanie: {{ wino.musowanie }}</p>
            <p>Aromat: {{ wino.aromat }}</p>
            <p>Moc: {{ wino.moc }}</p>
            <p>Nuty owocowe: {{ wino.nuty_owocowe }}</p>
            <p>Ocena: {{ wino.ocena }}</p>
            <p>Uwagi: {{ wino.uwagi }}</p>
            <br/>
        </div>   
    {% endfor %}
</div>
{% endblock %}