{% extends 'strona/base.html' %}

{% block content %}
    <h1>Lista Win<br/><small><a href="{% url 'wino_new' %}"><small><span class="glyphicon glyphicon-plus"></span></small> Dodaj nową recencję</small></a></h1>
    <br/>
    <table id = "table" class = "table table-bordered display">
        <thead class = "alert-success">
            <tr>
                <th>Winnica</th>
                <th>Nazwa</th>
                <th>Typ</th>
                <th>Kolor</th>
                <th>Klarowność</th>
                <th>Musowanie</th>
                <th>Aromat</th>
                <th>Moc</th>
                <th>Nuty owocowe</th>
                <th>Ocena</th>
            </tr>
        </thead>
        <tbody>
            {% for wino in winos %}
                {% if wino.zatwierdzony %}
                    <tr>
                        <td>{{ wino.firma }}</td>
                        <td><a href="{% url 'wino_detail' pk=wino.pk %}">{{ wino.nazwa }}</a></td>
                        <td>{{ wino.typ }}</td>
                        <td>{{ wino.kolor }}</td>
                        <td>{{ wino.klarowność }}</td>
                        <td>{{ wino.musowanie }}</td>
                        <td>{{ wino.aromat }}</td>
                        <td>{{ wino.moc }}</td>
                        <td>{{ wino.nuty_owocowe }}</td>
                        <td>{{ wino.ocena }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

{% endblock %}