{% extends 'strona/base.html' %}

{% block content %}
    <div class="strona">
        {% if yerba.data %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'yerba_edit' pk=yerba.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'yerba_remove' pk=yerba.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
        <h2>{{ yerba.firma }}: {{ yerba.nazwa }}</h2>
        <p><b>Autor recenzji:</b> {{ yerba.autor }}</p>
        <p><b>Zapylenie:</b> {{ yerba.zapylenie }}</p>
        <p><b>Aromat:</b> {{ yerba.aromat }}</p>
        <p><b>Moc:</b> {{ yerba.moc }}</p>
        <p><b>Goryczka:</b> {{ yerba.goryczka }}</p>
        <p><b>Nuty owocowe:</b> {{ yerba.nuty_owocowe }}</p>
        <p><b>Trwałość:</b> {{ yerba.trwałość }}</p>
        <p><b>Ocena:</b> {{ yerba.ocena }}</p>
        <p><b>Uwagi:</b> {{ yerba.uwagi }}</p>
        <p><a href="{% url 'yerba_list' %}" class="button2">Powrót do listy yerb</a></p>
        <br/>
    </div>   
{% endblock %}