{% extends 'strona/base.html' %}

{% block content %}
        {% if user.is_authenticated %}
            <a href="{% url 'yerba_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
            <h1>Lista Yerb</h1>
    {% for yerba in yerbas %}
        <div class="strona">
            <h3><a href="{% url 'yerba_detail' pk=yerba.pk %}">{{ yerba.firma }}: {{ yerba.nazwa }}</a></h3>
            <p>Zapylenie: {{ yerba.zapylenie }}</p>
            <p>Aromat: {{ yerba.aromat }}</p>
            <p>Moc: {{ yerba.moc }}</p>
            <p>Goryczka: {{ yerba.goryczka }}</p>
            <p>Nuty owocowe: {{ yerba.nuty_owocowe }}</p>
            <p>Ocena: {{ yerba.ocena }}</p>
            <p>Uwagi: {{ yerba.uwagi }}</p>
            <br/>
        </div>   
    {% endfor %}
</div>
{% endblock %}