{% extends 'strona/base.html' %}

{% block content %}
    <h1>Lista Yerb<br/><small><a href="{% url 'yerba_new' %}"><small><span class="glyphicon glyphicon-plus"></span></small> Dodaj nową recencję</small></a></h1>
    <br/>
    <table id = "table" class = "table table-bordered display">
        <thead class = "alert-success">
            <tr>
                <th>Firma</th>
                <th>Nazwa</th>
                <th>Zapylenie</th>
                <th>Aromat</th>
                <th>Moc</th>
                <th>Goryczka</th>
                <th>Nuty owocowe</th>
                <th>Trwałość</th>
                <th>Ocena</th>
                <th>Autor recenzji</th>
            </tr>
        </thead>
        <tbody>
            {% for yerba in yerbas %}
                {% if yerba.zatwierdzony %}
                    <tr>
                        <td>{{ yerba.firma }}</td>
                        <td><a href="{% url 'yerba_detail' pk=yerba.pk %}">{{ yerba.nazwa }}</a></td>
                        <td>{{ yerba.zapylenie }}</td>
                        <td>{{ yerba.aromat }}</td>
                        <td>{{ yerba.moc }}</td>
                        <td>{{ yerba.goryczka }}</td>
                        <td>{{ yerba.nuty_owocowe }}</td>
                        <td>{{ yerba.trwałość }}</td>
                        <td>{{ yerba.ocena }}</td>
                        <td>{{ yerba.autor }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

{% endblock %}